@import url("../fonts/lora/stylesheet.css");
@import url("../fonts/roboto/stylesheet.css");
@import url("../fonts/font-awesome-4.6.3/font-awesome.css");
body {
    font-family: 'Lora', arial, sans;
    position: relative;
    width: 100vw;
    min-height: 100vh;
}

.main {}

.showLeft {
    position: absolute;
    top: 0;
    z-index: 1001;
    left: 0px;
}

.page1-icon,
.map-icon,
.grand-ball-room-icon,
.azure-icon,
.vip-icon,
.billards-icon,
.aside-phone-icon,
.call-icon,
.hamburger-menu-icon,
.karaoke-icon,
.close-menu-icon,
.footer-arrow-bottom-menu,
.footer-arrow-top-menu {
    display: inline-block;
    background: url('../images/sprite.png') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: center;
    vertical-align: middle;
}

.page1-icon {
    background-position: -0px -0px;
    width: 61px;
    height: 47px;
}

.map-icon {
    background-position: -0px -47px;
    width: 60px;
    height: 61px;
}

.grand-ball-room-icon {
    background-position: -0px -108px;
    width: 57px;
    height: 65px;
}

.azure-icon {
    background-position: -0px -173px;
    width: 47px;
    height: 41px;
}

.vip-icon {
    background-position: -0px -214px;
    width: 47px;
    height: 20px;
}

.billards-icon {
    background-position: -0px -234px;
    width: 44px;
    height: 44px;
}

.aside-phone-icon {
    background-position: -0px -278px;
    width: 39px;
    height: 39px;
    margin-bottom: 10px;
}

.call-icon {
    background-position: -0px -317px;
    width: 39px;
    height: 39px;
}

.hamburger-menu-icon {
    background-position: -0px -356px;
    width: 26px;
    height: 19px;
}

.active .hamburger-menu-icon {
    background-position: -39px -278px;
    width: 22px;
    height: 21px;
}

.karaoke-icon {
    background-position: -26px -356px;
    width: 25px;
    height: 63px;
}

.close-menu-icon {
    background-position: -39px -278px;
    width: 22px;
    height: 21px;
}

.footer-arrow-bottom-menu {
    background-position: -47px -173px;
    width: 13px;
    height: 7px;
}

.footer-arrow-top-menu {
    background-position: -47px -180px;
    width: 13px;
    height: 7px;
}

.portofino {
    background: url(../images/index__bg.jpg) 100% 100% no-repeat;
    animation: portofinoAnimation 23s infinite;
    -moz-animation: portofinoAnimation 23s infinite;
    /* Firefox */
    -webkit-animation: portofinoAnimation 23s infinite;
    /* Safari and Chrome */
    -o-animation: portofinoAnimation 23s infinite;
    /* Opera */
}

@keyframes portofinoAnimation {
    0% {
        background: url(../images/index__bg.jpg) 100% 100% no-repeat;
    }
    33% {
        background: url(../images/karaoke__bg.jpg) 100% 100% no-repeat;
    }
    66% {
        background: url(../images/azure__bg.jpg) 100% 100% no-repeat;
    }
    100% {
        background: url(../images/index__bg.jpg) 100% 100% no-repeat;
    }
}

.karaoke {
    background: url(../images/karaoke__bg.jpg) 100% 100% no-repeat;
    animation: karaokeAnimation 23s infinite;
    -moz-animation: karaokeAnimation 23s infinite;
    /* Firefox */
    -webkit-animation: karaokeAnimation 23s infinite;
    /* Safari and Chrome */
    -o-animation: karaokeAnimation 23s infinite;
}

@keyframes karaokeAnimation {
    0% {
        background: url(../images/karaoke__bg.jpg) 100% 100% no-repeat;
    }
    33% {
        background: url(../images/index__bg.jpg) 100% 100% no-repeat;
    }
    66% {
        background: url(../images/azure__bg.jpg) 100% 100% no-repeat;
    }
    100% {
        background: url(../images/karaoke__bg.jpg) 100% 100% no-repeat;
    }
}

.grand-ball-room {
    background: url(../images/grand-ball__bg.jpg) 100% 100% no-repeat;
    animation: grandAnimation 23s infinite;
    -moz-animation: grandAnimation 23s infinite;
    /* Firefox */
    -webkit-animation: grandAnimation 23s infinite;
    /* Safari and Chrome */
    -o-animation: grandAnimation 23s infinite;
}

@keyframes grandAnimation {
    0% {
        background: url(../images/grand-ball__bg.jpg) 100% 100% no-repeat;
    }
    33% {
        background: url(../images/index__bg.jpg) 100% 100% no-repeat;
    }
    66% {
        background: url(../images/azure__bg.jpg) 100% 100% no-repeat;
    }
    100% {
        background: url(../images/grand-ball__bg.jpg) 100% 100% no-repeat;
    }
}

.azure {
    background: url(../images/azure__bg.jpg) 100% 100% no-repeat;
}

.reviews {
    background: url(../images/azure__bg.jpg) 100% 100% no-repeat;
}

.contacts {
    background: url(../images/map__bg.jpg) 100% 100% no-repeat;
}

.main-section {
    background-size: cover;
    position: fixed;
    left: 0;
    right: 0;
    height: 100%;
    display: none;
}

.main-section.is-active {
    display: block;
}

.main-section:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.cbp-spmenu {
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    text-align: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1.title {
    visibility: hidden;
    opacity: 0;
}

.nav__item.is-active {
    color: #d4af6d;
}

.cbp-spmenu a,
.cbp-spmenu p {
    font-family: 'Roboto', arial, sans;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.3s;
}

.cbp-spmenu a:hover {
    color: #d4af6d;
}

.square {
    width: 82px;
    height: 82px;
    line-height: 80px;
    background-color: #d4af6d;
    border: none;
}

.main-section-item__box {
    position: relative;
}

.portofino .main-section-item__box {
    max-width: 890px;
    width: 100%;
    margin: 80px auto;
    background-color: rgba(0, 0, 0, 0.5);
    border: 3px solid #d4af6d;
    position: relative;
    padding: 40px 9vw;
    box-sizing: border-box;
    height: 70vh;
}

.grand-ball-room .main-section-item__box,
.azure .main-section-item__box,
.karaoke .main-section-item__box {
    max-width: 890px;
    width: 100%;
    margin: 80px auto;
    position: relative;
    height: 70vh;
}

.grand-ball-room .main-section-item__box p,
.grand-ball-room .main-section-item__box li,
.karaoke .main-section-item__box p,
.karaoke .main-section-item__box li,
.azure .main-section-item__box p,
.azure .main-section-item__box li {
    font-size: 20px;
}

.grand-ball-room .main-section-item__box li,
.karaoke .main-section-item__box li {
    list-style: square;
}

.portofino .main-section-item__box img {
    margin: 0 auto 40px;
    display: block;
    max-width: 287px;
    width: 100%;
}

.portofino .main-section-item__box p {
    color: #fff;
    font-size: 20px;
}

.karaoke .tabs,
.azure .tabs {
    height: 100%;
}

#p1 p:first-letter {
    color: #d4af6d;
    font-size: 80px;
    display: block;
    float: left;
    margin: 25px 10px 5px 0;
}

.portofino .main-section-item__box:before {
    content: '';
    display: block;
    position: absolute;
    border: 7px solid #d4af6d;
    left: -16px;
    right: -16px;
    top: -16px;
    bottom: -16px;
    box-shadow: 0 0 0 25px #000;
}

.main__footer {
    height: 113px;
    background-color: #000;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding-left: 250px;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
}

.circle__icon {
    display: inline-block;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background: #d4af6d;
    text-align: center;
    line-height: 90px;
    top: -50px;
}

.main__footer .circle__icon {
    position: absolute;
}

.main-footer__nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-left: 100px;
}

.main-footer-nav__item {
    line-height: 110px;
    list-style: none;
}

.main-footer-nav__item a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: block;
    width: 100%;
    display: block;
    font-family: 'Roboto';
    padding-left: 40px;
    text-transform: uppercase;
}

.main-footer-nav__item a b {
    margin: 0 40px;
}

.main-footer-nav__item a.is-active {
    color: #d4af6d;
}

.main-footer-nav__item a.is-active b {
    background-position: -47px -180px;
}

.language a {
    margin: 0 12px;
}

.language a.is-active {
    color: #d4af6d;
}

.soc a {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    line-height: 25px;
    color: #000;
    margin: 0 3px;
    transition: all 0.3s;
}

.soc a:hover {
    background-color: #d4af6d;
    color: #000;
}

.grand-ball-room .c-img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -110px 0 0 -230px;
}

.karaoke .c-img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -120px 0 0 -225px;
}

.azure .c-img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -70px 0 0 -290px;
}

.contacts .main-section-item__box {
    background-color: #000;
    max-width: 814px;
    margin: 200px auto 0;
    height: 540px;
    color: #909090;
    box-sizing: border-box;
    padding: 80px 100px;
    box-sizing: border-box;
    text-align: center;
}

.contacts .map-icon {
    margin-top: -30px;
}

.contacts__wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.contacts__wrap .col {
    padding: 0 0 0 60px;
    text-align: left;
}

.contacts__wrap .col p {
    font-size: 20px;
    margin: 0
}

.contacts__wrap .col:first-child {
    border-right: 1px solid #d4af6d;
    padding: 0 60px 0 0;
}

.contacts__wrap .col h2.contacts__title {
    font-size: 48px;
    color: #fff;
}

.contacts__wrap .col h3.contacts__title {
    font-size: 26px;
    color: #fff;
}

.contacts__wrap .col + .col .contacts__title {
    color: #d4af6d;
}

.tabs {
    position: absolute;
    height: 61%;
    left: 80px;
    right: 80px;
    overflow: auto;
}

.portofino .tabs + div {
    left: 820px !important;
}

.vertical-track {
    width: 8px;
    height: 381px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(212, 175, 109, 0.5);
}

.vertical-handle {
    width: 8px;
    min-height: 100px;
    background-color: rgba(212, 175, 109, 0.5);
}

.tab__item {
    display: none;
}

.tab__item * {
    color: #fff;
}

.tab__item.is-active {
    display: block;
}

.sub__tabs a {
    margin-right: 10px;
}

.sub__tabs a:hover,
.sub__tabs a.is-active {
    text-decoration: none;
    color: #d4af6d;
}

.sub-tabs__item {
    display: none;
}

.sub-tabs__item.is-active {
    display: block;
}

.sub__tabs {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #d4af6d;
}

.sub-tabs__items {
    height: 255px;
    position: relative;
    overflow: auto;
}

.sub-tabs__items p,
.sub-tabs__items p span {
    font-family: 'Roboto';
    margin: 0;
    font-size: 15px !important;
    color: #d4af6d !important;
}

.gallery {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;    
    box-sizing: border-box;
}

section:not(.portofino) .gallery {
	background-color: #d4af6d;
	padding: 20px;
}

.gallery a {
    flex-basis: 160px;
    width: 160px;
    margin-right: 10px;
}


/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
    width: 250px;
    height: 100%;
    top: 0;
    z-index: 1000;
}

.cbp-spmenu-horizontal {
    width: 100%;
    height: 150px;
    left: 0;
    z-index: 1000;
    overflow: hidden;
}


/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
    left: -250px;
}

.cbp-spmenu-left.cbp-spmenu-open {
    left: 0px;
}


/* Horizontal menu that slides from the top or bottom */

.cbp-spmenu-top {
    top: -150px;
}

.cbp-spmenu-bottom {
    bottom: -150px;
}

.cbp-spmenu-top.cbp-spmenu-open {
    top: 0px;
}

.cbp-spmenu-bottom.cbp-spmenu-open {
    bottom: 0px;
}


/* Push classes applied to the body */

.cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
}

.cbp-spmenu-push-toright {
    left: 240px;
}

.cbp-spmenu-push-toleft {
    left: -250px;
}


/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


/* Example media queries */

@media screen and (max-width: 55.1875em) {
    .cbp-spmenu-horizontal {
        font-size: 75%;
        height: 110px;
    }
    .cbp-spmenu-top {
        top: -110px;
    }
    .cbp-spmenu-bottom {
        bottom: -110px;
    }
}

@media screen and (max-height: 26.375em) {
    .cbp-spmenu-vertical {
        font-size: 90%;
        width: 190px;
    }
    .cbp-spmenu-left,
    .cbp-spmenu-push-toleft {
        left: -190px;
    }
    .cbp-spmenu-right {
        right: -190px;
    }
    .cbp-spmenu-push-toright {
        left: 190px;
    }
}
